openapi: 3.0.0
info:
  title: Trifle App API
  version: 1.0.0
  description: HTTP API for Trifle App metrics, dashboards, monitors, and transponders.
servers:
  - url: https://app.trifle.io/api/v1
    description: Trifle SaaS
  - url: https://<your-host>/api/v1
    description: Self-hosted

security:
  - bearerAuth: []

tags:
  - name: Health
  - name: Bootstrap
  - name: Source
  - name: Metrics
  - name: Transponders
  - name: Dashboards
  - name: Monitors

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /bootstrap/signup:
    post:
      tags: [Bootstrap]
      summary: Create user account and issue user API token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapSignupRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapAuthResponse"
        "403":
          description: Registration disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /bootstrap/login:
    post:
      tags: [Bootstrap]
      summary: Log in and issue user API token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapLoginRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapAuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /bootstrap/me:
    get:
      tags: [Bootstrap]
      summary: Fetch current user bootstrap context
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapMeResponse"

  /bootstrap/organizations:
    post:
      tags: [Bootstrap]
      summary: Create organization for current user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapCreateOrganizationRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapCreateOrganizationResponse"
        "409":
          description: User already belongs to organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /bootstrap/sources:
    get:
      tags: [Bootstrap]
      summary: List projects and databases for current membership
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapListSourcesResponse"

  /bootstrap/databases:
    post:
      tags: [Bootstrap]
      summary: Create database source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapCreateDatabaseRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapCreateSourceResponse"
        "409":
          description: Organization required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /bootstrap/databases/{id}/setup:
    post:
      tags: [Bootstrap]
      summary: Run setup for database source
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapDatabaseSetupResponse"
        "404":
          description: Source not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Setup failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /bootstrap/projects:
    post:
      tags: [Bootstrap]
      summary: Create project source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapCreateProjectRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapCreateSourceResponse"
        "403":
          description: Projects disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /bootstrap/source-tokens:
    post:
      tags: [Bootstrap]
      summary: Create source token for project or database source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BootstrapCreateSourceTokenRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapCreateSourceTokenResponse"
        "400":
          description: Invalid source type
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Source not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /source:
    get:
      tags: [Source]
      summary: Fetch source configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"

  /metrics:
    get:
      tags: [Metrics]
      summary: Fetch series data
      parameters:
        - in: query
          name: key
          schema:
            type: string
          description: Metric key (optional). If omitted, returns system series.
          example: event::signup
        - in: query
          name: from
          required: true
          schema:
            type: string
            format: date-time
          example: "2026-01-24T00:00:00Z"
        - in: query
          name: to
          required: true
          schema:
            type: string
            format: date-time
          example: "2026-01-25T00:00:00Z"
        - in: query
          name: granularity
          required: true
          schema:
            type: string
          example: 1h
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsSeriesResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags: [Metrics]
      summary: Push metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricsCreateRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsCreateResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /metrics/query:
    post:
      tags: [Metrics]
      summary: Query metrics (aggregate, timeline, category)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricsQueryRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsQueryResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Query error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transponders:
    get:
      tags: [Transponders]
      summary: List transponders
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transponder"
    post:
      tags: [Transponders]
      summary: Create transponder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransponderRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Transponder"

  /transponders/{id}:
    put:
      tags: [Transponders]
      summary: Update transponder
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransponderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Transponder"
    delete:
      tags: [Transponders]
      summary: Delete transponder
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Transponder"

  /dashboards:
    get:
      tags: [Dashboards]
      summary: List dashboards
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Dashboard"
    post:
      tags: [Dashboards]
      summary: Create dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Dashboard"

  /dashboards/{id}:
    get:
      tags: [Dashboards]
      summary: Fetch dashboard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Dashboard"
    put:
      tags: [Dashboards]
      summary: Update dashboard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Dashboard"
    delete:
      tags: [Dashboards]
      summary: Delete dashboard
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Dashboard"

  /monitors:
    get:
      tags: [Monitors]
      summary: List monitors
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Monitor"
    post:
      tags: [Monitors]
      summary: Create monitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MonitorRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Monitor"

  /monitors/{id}:
    get:
      tags: [Monitors]
      summary: Fetch monitor
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Monitor"
    put:
      tags: [Monitors]
      summary: Update monitor
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MonitorRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Monitor"
    delete:
      tags: [Monitors]
      summary: Delete monitor
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Monitor"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        timestamp:
          type: string
          format: date-time
        api_version:
          type: string
          example: v1
        server_version:
          type: string
          example: 0.11.8

    ErrorResponse:
      type: object
      properties:
        errors:
          type: object
          additionalProperties: true

    BootstrapUserSummary:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        name:
          type: string
          nullable: true

    BootstrapOrganizationSummary:
      type: object
      nullable: true
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
          nullable: true

    BootstrapMembershipSummary:
      type: object
      nullable: true
      properties:
        id:
          type: string
        role:
          type: string
        organization_id:
          type: string

    BootstrapSourceSummary:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [database, project]
        display_name:
          type: string
        default_timeframe:
          type: string
          nullable: true
        default_granularity:
          type: string
          nullable: true
        available_granularities:
          type: array
          items:
            type: string
        time_zone:
          type: string
        setup_status:
          type: string
          nullable: true

    BootstrapSignupRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
        password:
          type: string
        name:
          type: string
        organization_name:
          type: string
        token_name:
          type: string

    BootstrapLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
        password:
          type: string
        token_name:
          type: string

    BootstrapAuthResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/BootstrapUserSummary"
            token:
              type: object
              properties:
                value:
                  type: string
            organization:
              $ref: "#/components/schemas/BootstrapOrganizationSummary"
            membership:
              $ref: "#/components/schemas/BootstrapMembershipSummary"

    BootstrapMeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            user:
              $ref: "#/components/schemas/BootstrapUserSummary"
            organization:
              $ref: "#/components/schemas/BootstrapOrganizationSummary"
            membership:
              $ref: "#/components/schemas/BootstrapMembershipSummary"

    BootstrapCreateOrganizationRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string

    BootstrapCreateOrganizationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            organization:
              $ref: "#/components/schemas/BootstrapOrganizationSummary"
            membership:
              $ref: "#/components/schemas/BootstrapMembershipSummary"

    BootstrapListSourcesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            projects:
              type: array
              items:
                $ref: "#/components/schemas/BootstrapSourceSummary"
            databases:
              type: array
              items:
                $ref: "#/components/schemas/BootstrapSourceSummary"
            membership:
              $ref: "#/components/schemas/BootstrapMembershipSummary"

    BootstrapCreateDatabaseRequest:
      type: object
      required: [display_name, driver]
      properties:
        display_name:
          type: string
        driver:
          type: string
        host:
          type: string
        port:
          type: integer
        username:
          type: string
        password:
          type: string
        database_name:
          type: string
        file_path:
          type: string
        auth_database:
          type: string
        default_timeframe:
          type: string
        default_granularity:
          type: string
        granularities:
          type: array
          items:
            type: string
        time_zone:
          type: string

    BootstrapCreateProjectRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        project_cluster_id:
          type: string
        time_zone:
          type: string
        beginning_of_week:
          type: integer
        granularities:
          type: array
          items:
            type: string
        expire_after:
          type: integer
        default_timeframe:
          type: string
        default_granularity:
          type: string

    BootstrapCreateSourceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            source:
              $ref: "#/components/schemas/BootstrapSourceSummary"

    BootstrapDatabaseSetupResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            source:
              $ref: "#/components/schemas/BootstrapSourceSummary"
            setup:
              type: object
              properties:
                status:
                  type: string
                message:
                  type: string
                error:
                  type: string
                  nullable: true

    BootstrapCreateSourceTokenRequest:
      type: object
      required: [source_type, source_id]
      properties:
        source_type:
          type: string
          enum: [database, project]
        source_id:
          type: string
        name:
          type: string
        read:
          type: boolean
        write:
          type: boolean

    BootstrapCreateSourceTokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            token:
              type: object
              properties:
                value:
                  type: string
                read:
                  type: boolean
                write:
                  type: boolean
            source:
              $ref: "#/components/schemas/BootstrapSourceSummary"

    SourceResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            api_version:
              type: string
            server_version:
              type: string
            id:
              type: string
            type:
              type: string
              example: database
            display_name:
              type: string
              example: Main
            default_timeframe:
              type: string
              example: 24h
            default_granularity:
              type: string
              example: 1h
            available_granularities:
              type: array
              items:
                type: string
            time_zone:
              type: string
              example: UTC

    MetricsSeriesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            at:
              type: array
              items:
                type: string
                format: date-time
            values:
              type: array
              items:
                type: object
                additionalProperties: true

    MetricsCreateRequest:
      type: object
      required: [key, values, at]
      properties:
        key:
          type: string
          example: event::signup
        at:
          type: string
          format: date-time
          example: "2026-01-24T12:00:00Z"
        values:
          type: object
          additionalProperties: true
          example: { count: 1 }

    MetricsCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            created:
              type: string
              example: ok

    MetricsQueryRequest:
      type: object
      required: [key, from, to, granularity]
      properties:
        mode:
          type: string
          enum: [aggregate, timeline, category]
          description: Required unless format is provided.
        format:
          type: string
          description: Alias for mode (aggregate, timeline, category)
        key:
          type: string
        value_path:
          type: string
          description: Required for aggregate/timeline/category
        aggregator:
          type: string
          description: Required for aggregate (sum, mean, min, max)
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        granularity:
          type: string
        slices:
          type: integer
          minimum: 1
      example:
        mode: aggregate
        key: event::signup
        value_path: count
        aggregator: sum
        from: "2026-01-24T00:00:00Z"
        to: "2026-01-25T00:00:00Z"
        granularity: 1h
        slices: 1

    MetricsQueryResponse:
      type: object
      additionalProperties: true

    Transponder:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        key:
          type: string
        type:
          type: string
          example: Trifle.Stats.Transponder.Expression
        config:
          type: object
          additionalProperties: true
        enabled:
          type: boolean
        order:
          type: integer
        source_type:
          type: string
        source_id:
          type: string

    TransponderRequest:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
        type:
          type: string
        config:
          type: object
          additionalProperties: true
        paths:
          type: array
          items:
            type: string
        expression:
          type: string
        response_path:
          type: string
        enabled:
          type: boolean
        order:
          type: integer

    Dashboard:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        key:
          type: string
        visibility:
          type: boolean
        locked:
          type: boolean
        source_type:
          type: string
        source_id:
          type: string
        organization_id:
          type: string
        user_id:
          type: string
        database_id:
          type: string
        group_id:
          type: string
          nullable: true
        position:
          type: integer
        default_timeframe:
          type: string
        default_granularity:
          type: string
        payload:
          type: object
          additionalProperties: true
        segments:
          type: array
          items:
            type: object
            additionalProperties: true
        inserted_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DashboardRequest:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
        source_type:
          type: string
        source_id:
          type: string
        visibility:
          type: boolean
        locked:
          type: boolean
        payload:
          type: object
          additionalProperties: true
        segments:
          type: array
          items:
            type: object
            additionalProperties: true
        position:
          type: integer
        default_timeframe:
          type: string
        default_granularity:
          type: string
        group_id:
          type: string
        database_id:
          type: string
        source:
          type: object
          additionalProperties: true

    Monitor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [report, alert]
        status:
          type: string
          enum: [active, paused]
        source_type:
          type: string
        source_id:
          type: string
        description:
          type: string
        locked:
          type: boolean
        dashboard_id:
          type: string
        alert_metric_key:
          type: string
        alert_metric_path:
          type: string
        alert_timeframe:
          type: string
        alert_granularity:
          type: string
        alert_notify_every:
          type: integer
        report_settings:
          type: object
          additionalProperties: true
        delivery_channels:
          type: array
          items:
            type: object
            additionalProperties: true
        delivery_media:
          type: array
          items:
            type: object
            additionalProperties: true
        alerts:
          type: array
          items:
            type: object
            additionalProperties: true
        inserted_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MonitorRequest:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [report, alert]
        status:
          type: string
          enum: [active, paused]
        source_type:
          type: string
        source_id:
          type: string
        description:
          type: string
        locked:
          type: boolean
        target:
          type: object
          additionalProperties: true
        segment_values:
          type: object
          additionalProperties: true
        dashboard_id:
          type: string
        report_settings:
          type: object
          additionalProperties: true
        delivery_channels:
          type: array
          items:
            type: object
            additionalProperties: true
        delivery_media:
          type: array
          items:
            type: object
            additionalProperties: true
        alert_metric_key:
          type: string
        alert_metric_path:
          type: string
        alert_timeframe:
          type: string
        alert_granularity:
          type: string
        alert_notify_every:
          type: integer
        alerts:
          type: array
          items:
            type: object
            additionalProperties: true
