<div class="blog-byline microlabel">
  <% if meta.dig('author') %>
    <span>By <%= meta.dig('author') %></span>
  <% end %>
  <% if meta.dig('date') %>
    <span class="sep">&bull;</span>
    <time datetime="<%= meta.dig('date') %>"><%= meta.dig('date') %></time>
  <% end %>
</div>

<%= content %>
